/* Give your page a fun background color */
body {
  background-color: #CCFFFF;
}
/* Make the header and footer a different color from the background */
h1 {
  background-color: lightgrey;
}
footer {
  background-color: lightgrey;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
h3 {
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* Make your p tag a different color and italic */
p {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  color: #330066;
}
p {
  font-style: italic;
}
/* Put a border around your image */
img {
  border: 5px solid #555;
  shadow: 5px;
  top: 20px;
  right: 25px;
  padding: 10px;
  margin: 5px;
  width: 125px;
}
#wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 200px;
  box-shadow: 0px 0px 30px 5px rgba(0,0,0,.3);
  transform: rotate(-2deg);
  border: 10px solid #fff;
}
.background, .dust, .foreground, .midground  {
  position: absolute;
  margin-left: -80px;
  z-index: 1;
  animation-name: background;
  animation-duration: 40s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}


@keyframes background {
  0% {transform:translateX(0px) translateY(0px);}
  100% {transform:translateX(-130px) translateY(0px);}

}
.foreground {
  z-index: 3;
  -moz-animation-name: foreground;
  -ms-animation-name: foreground;
  -o-animation-name: foreground;
  -webkit-animation-name: foreground;
  animation-name: foreground;
}

@keyframes foreground {
  0% { transform: scale(1); }
  100% { transform: scale(1.2) translateX(-60px); filter: blur(10px); }
}
.midground {
  z-index:2;
  -moz-animation-name: midground;
  -ms-animation-name: midground;
  -o-animation-name: midground;
  -webkit-animation-name: midground;
  animation-name: midground;
}

@keyframes midground {
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(-100px) translateY(0px) rotate(5deg); }
}
.dust {
  z-index: 4;
  -moz-animation-name: dust;
  -ms-animation-name: dust;
  -o-animation-name: dust;
  -webkit-animation-name: dust;
  animation-name: dust;
}
@keyframes dust {
  0% { transform: scale(1); }
  100% { transform: scale(2) translateX(10px) translateY(0px); filter: blur(2px);}
}
.mask01, .mask02, .mask03, .mask04 {
  position: absolute;
  width: 100px;
  height: 600px;
  background-color: #000000;
  z-index: 1000;
}
.mask02{
  width: 100%;
  height: 30px;
}
.mask03{
  width: 3000px;
  height: 600px;
  margin-left: 500px;
}
.mask04{
  width: 100%;
  height: 300px;
  margin-top: 600px;
}
/* Change the font-family of your list */
ul {
  font-family: monospace;
  font-size: 25px;
}
p {
  text-align: center;
  font-size: 18px;
}
