/* Give your page a fun background color */
body {
  background-color: powderblue;
}
/* Make the header and footer a different color from the background */
h1 {
  background-color: lightgrey;
}
footer {
  background-color: lightgrey;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  text-shadow: 2px 2px #066158;
}
/* Make your p tag a different color and italic */
p {
  color: #330066;
}
p {
  font-style: italic;
}
/* Put a border around your image */
img {
  border: 5px solid #555;
  shadow: 5px;
  top: 20px;
  right: 25px;
  padding: 10px;
  margin: 5px;
  width: 125px;
}
/* Change the font-family of your list */
li {
  font-color: ;
}
